<apex:page controller="AccountRemoter" docType="html-5.0" showHeader="false" standardstylesheets="false" sidebar="false" applyHtmlTag="false" applyBodyTag="false" cache="true" expires="600" >
    
    <script src="{!URLFOR($Resource.Bootstrap, 'js/jquery.min.js')}" />
    <script src="{!URLFOR($Resource.jqueryui)}" />
    <script src="{!URLFOR($Resource.Bootstrap, 'js/bootstrap.min.js')}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <apex:includeScript value="{!$Site.BaseUrl}/lightning/lightning.out.js?v=2"/>
    <iframe height="600px" id="theIframe" name="theIframe" src="https://www.apexdevnet.com" width="100%"></iframe>
    
    <apex:includeLightning />
    <div id="lightningDiv" />
    <p>
    Hello, World!
    </p>

    <script type="text/javascript">

(function($){

   $myApp = 
        { 
          CallRemoteAction:function(callback)
          {
            console.log('This is a remote function');




            Visualforce.remoting.Manager.invokeAction('{!$RemoteAction.AccountRemoter.getAccount}', function(result, event) 
              {if (event.status) {
                 console.log('All GOod');
                console.log('Result  :: '+result);

 console.log( result[0].response.docs[0]);
                    callback(result[0].response.docs[0]);
                    // return result[0].response.docs[0];
                } else if (event.type === 'exception') {
                   console.log('Exception');
                   
                    console.log(result);
                    return result;
                } else {
                     console.log('Empty');
                   
                    console.log(result);
                    return result;
                }
            }, 
            {escape: true} 
        );





            console.log('End Remote call.');

          },
          log: function(log)
          { 
            console.log(log);
          }

        }
        $myApp.log('Loading Withing Document.ready');
      

})(jQuery);
   
 $myApp.log('Loading Without Document.ready');

            $Lightning.use("c:QuickContacts", function() {
            $Lightning.createComponent("thunderMuj:ConList", {myApp: $myApp}, "lightningDiv", function(cmp) {

            })
        });
    </script>
</apex:page>