<apex:page showHeader="false" sidebar="false">
     <script>
        $Lightning.use("c:HelloWorld", function() {
          $Lightning.createComponent("c:hello",
          "",
          "lightning",
          function(cmp) {
            alert("Happy");
          });
        }); 
    </script>
    This is VF page text.
</apex:page>